h1,h2{
text-align:center;
font-family:'Times New Roman', Times, serif;

margin-top: 0px;
}

body{

    background-color:hsla(240, 100%, 90%,0.9);
}

button{
background-color: rgb(129, 93, 170);
text-align: center;
margin-left: 570PX;
}


h3,button{
    color: azure;
    font-weight:200;
    text-align:center;
    font-size:large;
    
}

h4{

    text-align:center;
    margin-top: 310px;
    border:2px solid white;
}
form{

display:block;
text-align: center;
margin-top: 150PX;
border:1px solid black;
font-weight:900





}
input{
    width: 250px;
}
a{
text-align: center;
font-size: medium;
}

h3,a{

    text-align:center;
    font-size:medium;
    font-weight:700;
    color:rgb(57, 6, 185);
    margin:100px;
}
ol,li{
    text-align:center;
    font-size:larger;
}
