ol,li{

    text-align:left;
    font-size:large;
    color:brown;
    font-weight:900;
    
    
}
body{
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    background-color:rgb(232, 232, 210)
   
}

