body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color:hsla(240, 100%, 90%,0.9);
    color:rgb(0, 0, 0);
}
a,href{
  font-weight:800;
  font-size:20px;
  

    
}